html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%; }
  @media (max-width: 479px) {
    html,
    body {
      font-size: 50%; } }
  @media (min-width: 480px) and (max-width: 767px) {
    html,
    body {
      font-size: 50%; } }

body {
  font-family: sans-serif;
  box-sizing: inherit; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h3 {
  margin: 0; }

.d-none {
  display: none !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-10 {
  margin-bottom: 10px; }

@keyframes animateBtnBg {
  0% {
    background-position: 0%; }
  100% {
    background-position: 400%; } }

@keyframes animateShowActions {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }

@keyframes animateHideActions {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-100%); } }

@keyframes animateHideAdd {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(100%); } }

@keyframes animateShowAdd {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }

@keyframes animateIconComplete {
  0% {
    transform: translateY(-200%); }
  70% {
    transform: translateY(10%); }
  90% {
    transform: translateY(-50%); }
  100% {
    transform: translateY(0); } }

@keyframes animateIconNotComplete {
  0% {
    transform: translateY(200%); }
  50% {
    transform: translateY(0%); }
  90% {
    transform: translateY(50%); }
  100% {
    transform: translateY(0); } }

@keyframes animateName {
  0% {
    transform: translateX(0px); }
  20% {
    transform: translateX(20px); }
  40% {
    transform: translateX(0px); }
  60% {
    transform: translateX(20px); }
  100% {
    transform: translateX(0px); } }

@keyframes animateBorder1 {
  0% {
    left: -100%; }
  20% {
    left: 0; }
  40% {
    left: 100%; }
  60% {
    left: 100%; }
  80% {
    left: 100%; }
  100% {
    left: 100%; } }

@keyframes animateBorder2 {
  0% {
    top: -100%; }
  20% {
    top: -100%; }
  40% {
    top: 0%; }
  60% {
    top: 100%; }
  80% {
    top: 100%; }
  100% {
    top: 100%; } }

@keyframes animateBorder3 {
  0% {
    right: -100%; }
  20% {
    right: -100%; }
  40% {
    right: -100%; }
  60% {
    right: 0%; }
  80% {
    right: 100%; }
  100% {
    right: 100%; } }

@keyframes animateBorder4 {
  0% {
    bottom: -100%; }
  20% {
    bottom: -100%; }
  40% {
    bottom: -100%; }
  60% {
    bottom: -100%; }
  80% {
    bottom: 0%; }
  100% {
    bottom: 100%; } }

@keyframes animateCount {
  0% {
    transform: skewY(5deg); }
  25% {
    transform: scale(1.1) skewY(0); }
  50% {
    transform: skewY(-5deg); }
  75% {
    transform: scale(1.1); }
  100% {
    transform: scale(1) skewY(0); } }

@keyframes animateNumb {
  0% {
    transform: scale(1.2) rotate(30deg); }
  50% {
    transform: scale(1.2) rotate(-30deg); }
  100% {
    transform: scale(1) rotateX(0); } }

.show-add {
  display: block;
  animation: animateShowAdd .8s forwards; }

.show-actions {
  display: block;
  animation: animateShowActions .8s forwards; }

.hide-add {
  display: block;
  animation: animateHideAdd .8s forwards; }

.hide-actions {
  display: block;
  animation: animateHideActions .8s forwards; }

.todos-item.active-todos {
  background-color: #3fc012; }
  .todos-item.active-todos .todos__name {
    font-style: italic; }
    .todos-item.active-todos .todos__name-text {
      position: relative;
      color: rgba(218, 218, 218, 0.7);
      text-decoration: line-through; }

.icon--complete {
  background-color: white;
  color: #3fc012; }

.icon--not-complete {
  background-color: white;
  color: #EA2027; }

.btn--add {
  background-color: #00a2ff; }

.icon-check {
  margin: 0 8px;
  padding: 0 8px;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.4rem;
  border: 2px solid #d1d1d1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

.btn {
  width: 100px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(207, 207, 207, 0.6);
  color: white;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 -4px 12px rgba(0, 0, 0, 0.1); }
  .btn :active {
    animation: animateBtn 1s linear; }
  .btn--glowing-gradient {
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    animation: animateBtnBg 8s linear infinite; }
  .btn--setting {
    width: 50px;
    background-color: rgba(184, 180, 180, 0.9);
    font-size: 1.8rem; }

.todos__header {
  margin-bottom: 20px;
  height: 3%; }
  .todos__header-text {
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 2.8rem;
    font-weight: 800;
    color: white; }

.setting {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 140px;
  overflow: hidden;
  position: relative; }
  .setting__header {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 5px 0;
    text-transform: uppercase;
    color: #312f2f;
    font-style: italic; }
  .setting__body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: "";
    flex: 1; }
  .setting__menu {
    display: flex; }
    .setting__menu-item {
      flex: 1; }
    .setting__menu .btn {
      width: 90%;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      @media (max-width: 479px) {
        .setting__menu .btn {
          flex-direction: column; } }
      .setting__menu .btn .icon-check {
        width: 2rem;
        height: 2rem;
        margin: 0;
        font-size: 1rem; }
      .setting__menu .btn--sort {
        background-color: #e67e22; }
      .setting__menu .btn--mark-complete {
        background-color: #44bd32; }
      .setting__menu .btn--mark-not-complete {
        background-color: #eb2f06; }
      .setting__menu .btn--delete-all {
        background-color: #8e44ad; }
  .setting .actions {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    position: absolute;
    transform: translateX(-100%); }
    .setting .actions__input-box {
      flex: 1;
      height: 35px;
      border: 3px solid grey;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px; }
      .setting .actions__input-box .icon-reset {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        height: 100%;
        text-align: center;
        font-size: 2rem;
        cursor: pointer;
        color: #9e9d9d;
        background: white;
        border-left: 1px solid grey; }
    .setting .actions__input {
      padding: 4px 8px;
      font-size: 1.6rem;
      border: none;
      outline: none;
      width: 85%;
      height: 100%;
      background: white; }
    .setting .actions__btn {
      margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (max-width: 479px) {
        .setting .actions__btn {
          width: 70px; } }
      .setting .actions__btn .btn--search {
        font-size: 1.6rem;
        height: 35px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly; }
      .setting .actions__btn .btn--back {
        font-size: 2rem;
        height: 35px;
        margin-left: 5px; }
  .setting .add {
    padding: 10px;
    height: 100%;
    width: 100%;
    position: absolute; }
    .setting .add__input-box {
      height: 42px;
      flex: 1;
      border: 3px solid grey;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center; }
      .setting .add__input-box .icon-reset {
        border-left: 1px solid;
        background: white;
        width: 15%;
        display: block;
        height: 100%;
        text-align: center;
        font-size: 2rem;
        cursor: pointer;
        color: #858585;
        display: flex;
        align-items: center;
        justify-content: center; }
    .setting .add__input {
      padding: 8px 12px;
      height: 100%;
      font-size: 1.8rem;
      border: none;
      outline: none;
      width: 85%; }
    .setting .add__btn {
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .setting .add__btn .btn--add {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); }
      .setting .add__btn .btn--setting {
        margin-left: 5px; }

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  background: #50a3a2;
  background: url("../img/background.png"); }

.todos {
  width: 50%;
  height: 100vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.1);
  background: url("../img/sparkles.png");
  background-image: linear-gradient(to right bottom, #68e3ee, #f575da, #8c87ff, #d3b0e9);
  position: relative; }
  @media (max-width: 479px) {
    .todos {
      height: 100vh;
      width: 100%;
      padding: 10px;
      padding-bottom: 20px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .todos {
      width: 100%;
      padding: 10px; } }
  .todos__body {
    position: relative;
    width: 100%;
    height: calc(100% - 12% - 160px);
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2), inset 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px; }
    .todos__body::-webkit-scrollbar {
      display: none; }
  .todos-list {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; }
  .todos-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    min-height: 50px;
    background: #f1206a;
    border-radius: 8px;
    border: 3px solid #fff;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1), -2px -5px 10px rgba(0, 0, 0, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s; }
    .todos-item-box {
      padding: 5px 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
    .todos-item:hover {
      transform: translateY(-3px) scale(1.05); }
    @media (max-width: 479px) {
      .todos-item:hover {
        transform: none; } }
    @media (min-width: 480px) and (max-width: 767px) {
      .todos-item:hover {
        transform: none; } }
  .todos__name {
    font-size: 2rem;
    flex: 4;
    height: 100%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: ""; }
    .todos__name .icon--complete {
      animation: animateIconComplete 0.8s ease-in-out; }
    .todos__name .icon--not-complete {
      animation: animateIconNotComplete 0.8s ease-in-out; }
    .todos__name-text {
      color: white;
      position: relative;
      overflow: hidden;
      margin-left: 5px;
      animation: animateName 0.8s forwards;
      word-break: break-all; }
  .todos__options {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem; }
    .todos__options .icon-repair {
      color: #06f8ec;
      margin-right: 15px;
      cursor: pointer;
      padding: 5px;
      margin-left: 10px; }
    .todos__options .icon-delete {
      color: #bbbbbb;
      margin-right: 15px;
      cursor: pointer;
      padding: 5px; }
  .todos .todos__name-repair {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;
    flex: 4; }
    .todos .todos__name-repair #text-repair {
      min-width: 100%;
      font-size: 2rem;
      overflow: hidden;
      resize: none;
      padding: 5px;
      color: white;
      background: #ff871e;
      outline: none;
      border-radius: 5px;
      border: 2px solid grey; }
  .todos .todos__options-repair {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white; }
    .todos .todos__options-repair .icon-repair {
      cursor: pointer;
      margin-right: 15px;
      padding: 5px;
      color: #4fdcff; }
      @media (max-width: 479px) {
        .todos .todos__options-repair .icon-repair {
          margin-right: 10px;
          margin-left: 10px;
          font-size: 2.4rem; } }
    .todos .todos__options-repair .icon-back {
      cursor: pointer;
      margin-right: 15px;
      padding: 5px;
      color: #d3c5c5; }

.todos__footer {
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .todos__footer .progress-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.4rem;
    font-weight: bold;
    width: 100%;
    height: 15px;
    margin-bottom: 5px; }
    .todos__footer .progress-bar__name {
      width: 25%;
      text-align: center; }
    .todos__footer .progress-bar__percent {
      width: 65%;
      height: 100%;
      border-radius: 40px;
      border: 2px solid grey;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      outline: none;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1), 0 5 14px rgba(0, 0, 0, 0.1); }
      .todos__footer .progress-bar__percent .percent {
        width: 90%;
        height: 100%;
        border-radius: 40px;
        text-align: center;
        background: linear-gradient(to right, #fbc531, #fa7d09, #fa2525, #ff1e00);
        color: white;
        font-size: 1.2rem; }
    .todos__footer .progress-bar__value {
      width: 15%;
      text-align: center;
      color: white; }
  .todos__footer .counts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
    height: 40px; }
    .todos__footer .counts .count {
      flex: 1;
      color: white;
      height: 100%;
      position: relative; }
      .todos__footer .counts .count__content {
        width: 90%;
        height: 100%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
        font-weight: bold;
        position: relative;
        overflow: hidden; }
        @media (max-width: 479px) {
          .todos__footer .counts .count__content {
            flex-direction: column; } }
        .todos__footer .counts .count__content .numb {
          font-size: 1.7rem;
          animation: animateNumb 1s forwards; }
      .todos__footer .counts .count .bd {
        position: absolute;
        background: #0bfcfc;
        background: white; }
      .todos__footer .counts .count .border1 {
        width: 100%;
        height: 3px;
        top: 0;
        left: -100%;
        animation: animateBorder1 2s linear infinite; }
      .todos__footer .counts .count .border2 {
        width: 3px;
        height: 100%;
        top: -100%;
        right: 0%;
        animation: animateBorder2 2s linear infinite; }
      .todos__footer .counts .count .border3 {
        width: 100%;
        height: 3px;
        bottom: 0;
        right: -100%;
        animation: animateBorder3 2s linear infinite; }
      .todos__footer .counts .count .border4 {
        width: 3px;
        height: 100%;
        bottom: -100%;
        left: 0%;
        animation: animateBorder4 2s linear infinite; }
      .todos__footer .counts .count--total {
        background: purple;
        animation: animateCount 1s forwards; }
      .todos__footer .counts .count--complete {
        background: #3fc012;
        animation: animateCount 1s forwards; }
      .todos__footer .counts .count--not-complete {
        background: #f1206a;
        animation: animateCount 1s forwards; }
