.wrapper {
    width: 100%;
    min-height: 100vh;
    @include flex(center);
    align-items: flex-start;
    background: #50a3a2;
    background: url('../img/background.png');
}

.todos {
    width: 50%;
    height: 100vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1),
        -5px -5px 10px rgba(0, 0, 0, .1),
        inset 0 0 5px rgba(0, 0, 0, 0.1);
    background: url('../img/sparkles.png');
    background-image: linear-gradient(to right bottom,
            rgb(104, 227, 238),
            rgb(245, 117, 218),
            rgb(140, 135, 255),
            rgb(211, 176, 233));
    position: relative;

    @include mobile {
        height: 100vh;
        width: 100%;
        padding: 10px;
        padding-bottom: 20px;

    }

    @include tablet-sm {
        width: 100%;
        padding: 10px;

    }

    &__main {
        // height: 80vh;
    }

    &__header {}

    // &__add {
    //     height: 20%;
    // }

    .setting {}

    &__body {
        position: relative;
        width: 100%;
        height: calc(100% - 12% - 160px);
        overflow-y: scroll;
        overflow-x: hidden;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        // @include mobile {
        //     height: 60vh;
        // }

        // @include tablet-sm {
        //     height: 58%;
        // }

        &::-webkit-scrollbar {
            display: none;
        }

        box-shadow: 2px 5px 10px rgba(0, 0, 0, .2),
        inset 0px 0px 5px rgba(0, 0, 0, .2);
        border-radius: 10px;
        padding: 20px;
    }

    &-list {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    &-item {
        @include flex(flex-start);
        position: relative;
        min-height: 50px;
        background: $color-not-complete;
        border-radius: 8px;
        border: 3px solid #fff;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, .1),
            -2px -5px 10px rgba(0, 0, 0, .1),
            inset 0px 0px 10px rgba(0, 0, 0, .1);
        transition: 0.5s;

        &-box {
            padding: 5px 0;
            width: 100%;
            height: 100%;
            @include flex(flex-start);
        }

        &:hover {
            transform: translateY(-3px) scale(1.05);
        }

        @include mobile {
            &:hover {
                transform: none;
            }
        }

        @include tablet-sm {
            &:hover {
                transform: none;
            }
        }
    }

    &__name {
        font-size: 2rem;
        // width: 75%;
        flex: 4;
        height: 100%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        @include flex('');

        .icon--complete {
            animation: animateIconComplete 0.8s ease-in-out;
        }

        .icon--not-complete {
            animation: animateIconNotComplete 0.8s ease-in-out;
        }


        &-text {
            color: $color-white;
            position: relative;
            overflow: hidden;
            margin-left: 5px;
            animation: animateName 0.8s forwards;
            word-break: break-all;
            // &:before {
            //     content: '';
            //     display: block;
            //     position: absolute;
            //     top: 50%;
            //     left: 0%;
            //     transform: translateY(-50%) scale(0);
            //     transform-origin: left;
            //     width: 100%;
            //     height: 2px;
            //     background-color: rgb(87, 86, 86);
            //     transition: .5s;
            // }
        }
    }





    &__options {
        // width: 25%;
        flex: 1;
        height: 100%;
        @include flex(center);
        font-size: 2rem;

        // color: $color-white;
        .icon-repair {
            color: rgb(6, 248, 236);
            margin-right: 15px;
            cursor: pointer;
            padding: 5px;
            margin-left: 10px;

        }

        .icon-delete {
            color: rgb(187, 187, 187);
            margin-right: 15px;
            cursor: pointer;
            padding: 5px;

        }
    }

    .todos__name-repair {
        @include flex(flex-start);
        margin-left: 40px;
        flex: 4;

        #text-repair {
            min-width: 100%;
            // max-height: 100px;
            // height: 30px;
            font-size: 2rem;
            overflow: hidden;
            resize: none;
            padding: 5px;
            color: $color-white;
            background: #ff871e;
            outline: none;
            border-radius: 5px;
            border: 2px solid grey;

        }
    }

    .todos__options-repair {
        // width: 25%;
        flex: 1;
        @include flex(center);
        font-size: 2rem;
        color: $color-white;



        .icon-repair {
            cursor: pointer;
            margin-right: 15px;
            padding: 5px;
            color: #4fdcff;

            @include mobile {
                // margin-left: 5px;
            }

            @include mobile {
                margin-right: 10px;
                margin-left: 10px;
                font-size: 2.4rem;
            }

        }

        .icon-back {
            cursor: pointer;
            margin-right: 15px;
            padding: 5px;
            color: rgb(211, 197, 197);


        }
    }
}